<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmnttech.ma.merchant.server.database.mappers.IndustryCodeMapper">
  <resultMap id="BaseResultMap" type="com.mmnttech.ma.merchant.server.database.entity.IndustryCode">
    <id column="rec_id" jdbcType="VARCHAR" property="recId" />
    <result column="industry_code" jdbcType="VARCHAR" property="industryCode" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="com_memo" jdbcType="VARCHAR" property="comMemo" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    rec_id, industry_code, industry, com_memo, create_date
  </sql>
  <select id="selectByExample" parameterType="com.mmnttech.ma.merchant.server.database.entity.IndustryCodeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_industry_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_industry_code
    where rec_id = #{recId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_industry_code
    where rec_id = #{recId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mmnttech.ma.merchant.server.database.entity.IndustryCodeExample">
    delete from t_industry_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mmnttech.ma.merchant.server.database.entity.IndustryCode">
    insert into t_industry_code (rec_id, industry_code, industry, 
      com_memo, create_date)
    values (#{recId,jdbcType=VARCHAR}, #{industryCode,jdbcType=VARCHAR}, #{industry,jdbcType=VARCHAR}, 
      #{comMemo,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mmnttech.ma.merchant.server.database.entity.IndustryCode">
    insert into t_industry_code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recId != null">
        rec_id,
      </if>
      <if test="industryCode != null">
        industry_code,
      </if>
      <if test="industry != null">
        industry,
      </if>
      <if test="comMemo != null">
        com_memo,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recId != null">
        #{recId,jdbcType=VARCHAR},
      </if>
      <if test="industryCode != null">
        #{industryCode,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="comMemo != null">
        #{comMemo,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mmnttech.ma.merchant.server.database.entity.IndustryCodeExample" resultType="java.lang.Long">
    select count(*) from t_industry_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_industry_code
    <set>
      <if test="record.recId != null">
        rec_id = #{record.recId,jdbcType=VARCHAR},
      </if>
      <if test="record.industryCode != null">
        industry_code = #{record.industryCode,jdbcType=VARCHAR},
      </if>
      <if test="record.industry != null">
        industry = #{record.industry,jdbcType=VARCHAR},
      </if>
      <if test="record.comMemo != null">
        com_memo = #{record.comMemo,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_industry_code
    set rec_id = #{record.recId,jdbcType=VARCHAR},
      industry_code = #{record.industryCode,jdbcType=VARCHAR},
      industry = #{record.industry,jdbcType=VARCHAR},
      com_memo = #{record.comMemo,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmnttech.ma.merchant.server.database.entity.IndustryCode">
    update t_industry_code
    <set>
      <if test="industryCode != null">
        industry_code = #{industryCode,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="comMemo != null">
        com_memo = #{comMemo,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where rec_id = #{recId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmnttech.ma.merchant.server.database.entity.IndustryCode">
    update t_industry_code
    set industry_code = #{industryCode,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      com_memo = #{comMemo,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where rec_id = #{recId,jdbcType=VARCHAR}
  </update>
</mapper>