<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmnttech.ma.merchant.server.mapper.MenuGroupMapper" >
  <resultMap id="BaseResultMap" type="com.mmnttech.ma.merchant.server.model.MenuGroup" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="rec_id" property="recId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="comments" property="comments" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="sequence" property="sequence" jdbcType="INTEGER" />
  </resultMap>
</mapper>