<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmnttech.ma.merchant.server.mapper.MerchantMapper" >
  <resultMap id="BaseResultMap" type="com.mmnttech.ma.merchant.server.model.Merchant" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="rec_id" property="recId" jdbcType="VARCHAR" />
    <result column="cpy_name" property="cpyName" jdbcType="VARCHAR" />
    <result column="industry_code" property="industryCode" jdbcType="VARCHAR" />
    <result column="area_code" property="areaCode" jdbcType="VARCHAR" />
    <result column="category_code" property="categoryCode" jdbcType="VARCHAR" />
    <result column="cpy_legal_name" property="cpyLegalName" jdbcType="VARCHAR" />
    <result column="cpy_address" property="cpyAddress" jdbcType="VARCHAR" />
    <result column="address_coor_x" property="addressCoorX" jdbcType="DECIMAL" />
    <result column="address_coor_y" property="addressCoorY" jdbcType="DECIMAL" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="special" property="special" jdbcType="VARCHAR" />
    <result column="linkman" property="linkman" jdbcType="VARCHAR" />
    <result column="svr_tel" property="svrTel" jdbcType="VARCHAR" />
    <result column="auth_step" property="authStep" jdbcType="VARCHAR" />
    <result column="com_stat" property="comStat" jdbcType="VARCHAR" />
    <result column="auth_reason" property="authReason" jdbcType="VARCHAR" />
    <result column="stat" property="stat" jdbcType="CHAR" />
    <result column="clr_act" property="clrAct" jdbcType="VARCHAR" />
    <result column="com_memo" property="comMemo" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="license_no" property="licenseNo" jdbcType="VARCHAR" />
    <result column="ID_card_no" property="idCardNo" jdbcType="VARCHAR" />
  </resultMap>
</mapper>