<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmnttech.ma.merchant.server.mapper.PlatParaMapper" >
  <resultMap id="BaseResultMap" type="com.mmnttech.ma.merchant.server.model.PlatPara" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="plat_no" property="platNo" jdbcType="VARCHAR" />
    <result column="plat_name" property="platName" jdbcType="VARCHAR" />
    <result column="plat_stat" property="platStat" jdbcType="CHAR" />
    <result column="plat_date" property="platDate" jdbcType="CHAR" />
    <result column="pre_date" property="preDate" jdbcType="CHAR" />
  </resultMap>
</mapper>